/* styles/globals.css */

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  @apply bg-gray-50 text-gray-900 font-sans;
  margin: 0;
  padding: 0;
}


/* Custom scroll bar styles (optional) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-200;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded;
}

/* Other global styles */
.container {
  @apply max-w-7xl mx-auto px-4;
}
